{#  -*- coding: utf-8 -*- #}
{#
  SPDX-FileCopyrightText: Getnikola authors https://github.com/getnikola/nikola
  SPDX-License-Identifier: MIT
#}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DNS8M51YJM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  // Default ad_storage to 'denied'.
  gtag('consent', 'default', {
    'ad_storage': 'denied'
  });
  gtag('set', 'url_passthrough', true);
  gtag('js', new Date());
  gtag('config', 'G-DNS8M51YJM');
</script>
</head>
<body>
<a href="#content" class="visually-hidden visually-hidden-focusable">{{ messages("Skip to main content") }}</a>

<!-- Header and menu bar -->
<div class="container">
    <header class="container-fluid blog-header justify-content-between py-3 navbar-light navbar">
      <span class="col ms-auto"></span>
      <a class="navbar-brand blog-header-logo text-dark text-center col" href="{{ abs_link(_link("root", None, lang)) }}">
        {% if logo_url %}
        <img src="{{ logo_url }}" alt="{{ blog_title|e }}" id="logo" class="d-inline-block align-top">
        {% endif %}
        <span id="blog-title">{{ blog_title|e }}</span>
      </a>
        <ul class="navbar-nav text-end col ms-auto">
        {{ base.html_translations() }}
        </ul>
    </header>

  <nav class="navbar navbar-light navbar-expand">
  <div class="container-fluid justify-content-between">
    <ul class="navbar-nav nav-fill d-flex w-100 mr-auto">
        {{ base.html_navigation_links_entries(navigation_links) }}
        {{ template_hooks['menu']() }}
    </ul>
  </div>
  </nav>

</div>

<div class="container" id="content" role="main">
    <div class="body-content">
        {% if theme_config.get('sidebar') %}
            <div class="row"><div class="col-md-8 blog-main">
        {% endif %}
        <!--Body content-->
        {{ template_hooks['page_header']() }}
        {% block extra_header %}{% endblock %}
        {% block content %}{% endblock %}
        <!--End of body content-->
        {% if theme_config.get('sidebar') %}
        </div><aside class="col-md-4 blog-sidebar">{{ theme_config.get('sidebar') }}</aside></div>
        {% endif %}

        <footer id="footer">
            {{ content_footer }}
            {{ template_hooks['page_footer']() }}
            {% block extra_footer %}{% endblock %}
        </footer>
    </div>
</div>

{{ base.late_load_js() }}
    {% if date_fanciness != 0 %}
        <!-- fancy dates -->
        <script>
        moment.locale("{{ momentjs_locales[lang] }}");
        fancydates({{ date_fanciness }}, {{ js_date_format }});
        </script>
        <!-- end fancy dates -->
    {% endif %}
    {% block extra_js %}{% endblock %}
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
