{#  -*- coding: utf-8 -*- #}
{#
  SPDX-FileCopyrightText: Getnikola authors https://github.com/getnikola/nikola
  SPDX-License-Identifier: MIT
#}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'math_helper.tmpl' as math with context %}
{% import 'ui_helper.tmpl' as ui with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ smartjoin(', ', post.meta('keywords'))|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author()|e }}">
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ helper.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
    {{ math.math_styles_ifpost(post) }}
{% endblock %}

{% block content %}
{% if not post.meta('nocomments') and site_has_comments %}
<script>
  var remark_config = {
    host: "https://comments.rusinov.ie", // hostname of remark server, same as REMARK_URL in backend config, e.g. "https://demo.remark42.com"
    site_id: 'rusinov_ie',
    components: ['embed'],
    // url: 'PAGE_URL',
    max_shown_comments: 50,
    theme: 'light',
    page_title: '{{ post.title() }}',
    locale: '{{ lang }}',
    // TODO: enable email subscriptions
    show_email_subscription: false,
  };
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
{% endif %}
<article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
        {{ pheader.html_title() }}
        <div class="metadata">
            <p class="dateline">
            <a href="{{ post.permalink() }}" rel="bookmark">
            {% if post.updated %}
                <span class="updated"> {{ messages("Updated") }}
                    <time class="updated" datetime="{{ post.formatted_updated('webiso') }}" itemprop="dateUpdated" title="{{ post.formatted_updated(date_format)|e }}">
                      {{ post.updated.strftime('%Y-%m-%d')|e }}
                    </time></span>
            {% endif %}
            </a>
            </p>
            {% if post.meta('link') %}
                    <p class="linkline"><a href="{{ post.meta('link') }}">{{ messages("Original site") }}</a></p>
            {% endif %}
        </div>
        {{ pheader.html_translations(post) }}
    </header>

    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>
    {{ math.math_scripts_ifpost(post) }}
    {% if not post.meta('nocomments') %}
        <div id="remark42"></div>
    {% endif %}
</article>
{{ comments.comment_link_script() }}
{% endblock %}

{% block sourcelink %}
{% if show_sourcelink %}
    {{ ui.show_sourcelink(post.source_link()) }}
{% endif %}
{% endblock %}
